.pop-up-message {
    width: 250px;
    height: 100px;
    text-align: center;
    border: 1px solid;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;

    opacity: 0;
    animation: ani 1.5s forwards;
}

.hover {
    display: none;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }